<a 
    href="{{ link|default('/')|e }}" 
    class="button text-center {{ add_class|default('')|e   }}" 
    aria-label="{{ aria_label|default('')|e   }}" 
    data-marketing-cta="">
    {{ label|default('Click Me')|e }}
</a>