<div id="header-submenu-container" style="display: none;" class="">
    <ul class="header-submenu absolute py-6 px-8 top-[4.5rem] -left-6 -mt-4 max-h-96 min-w-[200px] grid gap-x-32 gap-y-5 header-sticky shadow rounded-lg whitespace-nowrap">
        {% for child in items %}
        <li data-level="2" data-levels="0" data-title="Tonal 2" data-type="product_link" data-url="/products/tonal-2">
            <a
                class="text-inherit hover:underline hover:decoration-1 underline-offset-8"
                href="{{ child.link }}">
                {{ child.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>